@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    display: flex;
    position: fixed; /* Fixa o nav no topo da tela */
    top: 0; 
    justify-content: space-around;
    align-items: center;
    width: 100vw; 
    height: 20vh;
    font-weight: 700;
    top: 0;
    background-color: rgb(255, 255, 255); 
  }
  
  .navbar_p{
    font-weight: 700;
    margin-left: 3em;
    text-align: left;
    color: rgb(0, 0, 0);
  }